<div id="background">
  <div id="sidebar">
    <div id="logo" class="box">Cats<br>Against<br>Banana<br>Trees</div>
    <div id="error-container"></div>
    <div id="chatDisplay">
      <h2>Chat Thread</h2>
      <ul id="chatEntries"></ul>
    </div>
    <input id="chatInput" class="box" type="text" name="name" value="" placeholder="Chat it up">
    <button id="chatButton" class="buttonBox" type="button" name="button" onclick="submitChat()">
      Time to talk some shit!
    </button>
  </div>
</div>