<div id="cards">Cards</div>
<div id="sidebar">
  <div 
    id="logo" 
    class="box">
    Cats<br>Against<br>Banana<br>Trees
  </div>
  <div id="chatDisplay" class="box">
    Let the trash talk begin:
    <ul id="chatEntries"></ul>
  </div>
  <input 
    id="chatInput" 
    class="pgButtonBox" 
    type="text" 
    name="name" 
    value="" 
    placeholder="Time to talk some sh!t"
    onkeyup="inputKeyUp(event)"
  >
<button onclick="getGameObj()">Deal</button>
</div>

