<div id="mainContent">
  <h1>A party game for people who know nothing.</h1>
  <img id="catImage" src="/assets/CABTsquare.jpg" alt="A cat against a banana tree">
</div>

<div id="sidebar">
  <div id="logo" class="box">Cats<br>Against<br>Banana<br>Trees</div>
  <input id="indexName" class="box" type="text" name="indexName" value="" onclick="whiteBackground()"
    placeholder="Enter your clever name" />
  <div id="error-container" style="display: none"></div>
  <button id="button" class="buttonBox" type="button" name="button" onclick="roomInit()">
    To start a game,<br>click it.<br>Click it good.
  </button>
</div>

</button>
<div id="message-container">

</div>
