<div>
  <h1>A party game for people who know nothing.</h1>
  <img id="catImage" src="/assets/CABTsquare.jpg" alt="A cat against a banana tree">
</div>

<div id="background">
  <div id="sidebar">
    <div id="logo" class="box">Cats<br>Against<br>Banana<br>Trees</div>
    <div id="error-container" class="box" style="display: none"></div>
    <input id="name" class="box" type="text" name="name" value="" onclick="whiteBackground()" placeholder="Enter your clever name" />
    <button id="button" class="inputbox" type="button" name="button" onclick="setUsername()">
      Start a game.<br>(Click it. Click it good).
    </button>
  </div>
</div>

   </button>
   <div id="message-container">
      
   </div>
   <script src="/socket.io/socket.io.js"></script>
   <script src="/app.js"></script>
</body>

</html>

