<div id="pgMainContent" class="box">
  <div id="userHello"></div>
  <div id="welcome"></div>
  <div id="playersListTitle"></div>
  <div id="pgPlayersList"></div>
</div>

<div id="sidebar">
  <div id="logo" class="box">
    Cats<br>Against<br>Banana<br>Trees
  </div>
  <div id="inputdiv">
    <input type="text" id="hiddenURL" value="">
  </div>

  <button id="copyURL" class="pgButtonBox" type="pregame-button" name="button" onclick="copyCurrentUrl()">
    Copy URL
  </button>
  <div id="startButtonContainer"></div>
  <div id="guestName"></div>
</div>
<script>
  $("document").ready(() => {
    generatePregameDisplay()
  });
</script>