body {
  background-color: black;
  font-family: Helvetica;
}

h1 {
  color: #fafafa;
  position: absolute;
  left: 40%;
  font-weight: 400;
  top: 10%;
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  width: 112%;
}

.bold {
  font-weight: 600;
}

.box {
  background-color: #fafafa;
  width: 70%;
  margin: 8.5%;
  padding: 6%;
  box-shadow: 4px 4px 10px black;
  border-radius: 10px;
}

.buttonBox {
  background-color: #fafafa;
  width: 83%;
  margin: 8% 8%;
  padding: 6%;
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
  font-size: 1.5em;
  line-height: 1.5em;
}

.buttonBox:hover {
  box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.5);
}

.cardBox {
  background-color: #fafafa;
  width: 20%;
  padding: 6%;
  border-radius: 10px;
  margin: 0% 5% 5% 5%;
  border: 9px solid lightgray;
}

.container {
  display: flex;
  flex-flow: wrap;
}

.pgButtonBox {
  background-color: #fafafa;
  width: 83%;
  margin: 0% 8%;
  padding: 6%;
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
  font-size: 1.5em;
}

#beginButton {
  margin: 7% 8%;
}

#cards {
  position: relative;
  left: 35%;
  width: 65%;
  margin: 3%;
}

#catImage {
  width: 50%;
  position: absolute;
  top: 26%;
  left: 40%;
}

#chatDisplay {
  height: 150px;
  overflow: scroll;
}

#chatInput {
  font-size: 1em;
  width: 70%;
}

#enterPlayerName {
  width: 69.5%;
  margin: 8% 0% 0% 8%;
}

#error-container {
  font-size: 1.5em;
  text-align: center;
  box-shadow: 1px 1px 10px black;
  padding: 2%;
  margin: 9% 0% 0% 0%;
}

#gameCards {
  border: 9px solid white;
  background-color: black;
  color: white;
}

#indexName {
  margin: 0% 8%;
  font-size: 1.5em;
  width: 70%;
}

#inputdiv {
  position: absolute;
  top: -90%;
  left: -90%;
}

#logo {
  font-size: 2em;
  margin-top: 20%;
  line-height: 120%;
}

#pgMainContent {
  width: 40%;
  position: absolute;
  left: 31%;
  top: -5%;
  height: 53%;
  padding: 2% 8% 10% 3%;
}

#pgPlayersList {
  font-size: 1.5em;
  padding: 2% 0% 1% 0%;
  line-height: 1.25em;
}

#playersListTitle {
  font-size: 1em;
  padding: 10% 0% 0% 0%;
  font-weight: 600;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: #6b8445;
  overflow: scroll;
}

#welcomeText {
  font-size: 1.5em;
  line-height: 1.5em;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  body {
    overflow: scroll;
  }
  h1 {
    top: 5%;
    z-index: -1;
    color: black;
    line-height: 2em;
    box-shadow: 4px 4px 10px black;
  }
  .buttonBox {
    font-size: 1.25em;
    padding: 3%;
  }
  .cardBox {
    width: 35%;
    padding: 4%;
    border-radius: 6px;
    margin: 0% 5% 5% 0%;
    border: 3px solid lightgray;
    z-index: 1;
  }
  #beginButton {
    font-size: 1.25em;
  }
  #cards {
    position: absolute;
    left: 9%;
    width: 85%;
    margin: 0%;
    top: 29%;
  }
  #catImage {
    width: 68%;
    top: 36%;
    left: 16%;
  }
  #chatDisplay {
    margin: 95% 8.5% 7%;
    height: 31%;
  }
  #copyURL {
    padding: 4%;
    margin: 7% 8% 0% 8.5%;
    font-size: 1.25em;
  }
  #enterPlayerName {
    width: 75.5%;
    margin: 3% 0% 0% 8.5%;
  }
  #gameCards {
    position: relative;
    top: 29%;
    border: 3px solid white;
    padding: 4%;
    border-radius: 6px;
    z-index: 1;
    width: 35%;
    margin: 0% 5% 5% 0%;
  }
  #indexName {
    margin: 93% 8% 0% 8%;
  }
  #logo {
    font-size: 1.75em;
    margin-top: 9%;
  }
  #newUserButton {
    margin: 3% 8.5%;
  }
  #pgMainContent {
    width: 71%;
    position: absolute;
    left: 0.5%;
    top: 54%;
    height: 32%;
    padding: 2% 8% 10% 3%;
    font-size: 65%;
  }
  #sidebar {
    width: 100%;
    height: 30%;
    overflow: visible;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 1.25em;
  }
  .box {
    margin: 8.5% 8.5% 20%;
  }
  .buttonBox {
    margin: 19% 8%;
  }
  .cardBox {
    margin: 4% 5% 0% 5%;
  }
  #enterPlayerName {
    margin: -1% 0% 0% 8%;
    font-size: 90%;
  }
  #indexName {
    font-size: 93%;
  }
  #logo {
    margin-top: 17%;
    line-height: 120%;
    font-size: 1.75em;
  }
  #pgMainContent {
    top: 4.5%;
  }
  #startButtonContainer {
    margin-top: 19%;
  }
}
